<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="Day03/header.html::header"></div> <!--헤더-->
    <div class="container">
        <table class="table">
            <a th:href="@{/board/boardwrite}"><button type="button" class="btn btn-primary">글쓰기</button></a>
            <tr>
                <th>번호</th><th>제목</th><th>작성자</th><th>내용</th><th>작성일</th><th>조회수</th>
            </tr>
            <!--each문 밑에는 dto에 있는거 빼오는거-->

            <tr th:each="boardDto : ${BoardDtos}">
                <td th:text="${boardDto.b_num}"></td>
                <td th:text="${boardDto.b_title}"></td>
                <td th:text="${boardDto.b_writer}"></td>
                <td th:text="${boardDto.b_contents}"></td>
                <td th:text="${boardDto.b_createdDate}"></td>
                <td th:text="${boardDto.b_count}"></td>
            </tr>

        </table>


    </div>
</body>
</html>