<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="Day03/header.html::header"></div> <!--헤더-->
    <div class="container">
        <table class="table">
            <a th:href="@{boardwrite}"><button type="button" class="btn btn-primary">글쓰기</button></a>
            <thead>
                <th>번호</th><th>제목</th><th>작성자</th><th>내용</th><th>작성일</th><th>조회수</th>
            </thead>
            <tbody>
                <tr>
                    <td></td><td>ㅜ</td><td>ㄷ</td><td>ㄱ</td><td>2020-12-12</td><td>10</td>
                </tr>
            </tbody>
        </table>


    </div>
</body>
</html>